<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.Lithnet.Acma.Installer.CustomActions.TargetDir)Lithnet.Acma.Installer.CustomActions.CA.dll" />
    <CustomAction Id="SetPSModuleCustomActionDataValue"
               Return="check"
               Property="ReplaceModuleVariableCustomAction"
               Value="PSModulePath=[PSMODULEPATH]AcmaPS.psd1;InstallDir=[APPROOT]" />

    <CustomAction Id="SetInstallUpgradeDBCustomActionDataValue"
              Return="check"
              Property="InstallUpgradeDBCustomAction"
              Value="SqlServerName=[SQLSERVERNAME];DBName=[DBNAME];AcmaServiceAccount=[SERVICE_USERNAME]" />

    <CustomAction Id="InstallUpgradeDBCustomAction"
                  BinaryKey="CustomActionBinary"
                  DllEntry="InstallUpgradeDB"
                  Execute="deferred"
                  Return="check"
                  Impersonate ="yes"/>
  
    <CustomAction Id="SetCreateAcmaGroupsDataValue"
              Return="check"
              Property="CreateAcmaGroupsAction"
              Value="SyncServiceAccount=[SYNCSERVICEACCOUNT];" />

    <CustomAction Id="CreateAcmaGroupsAction"
                  BinaryKey="CustomActionBinary"
                  DllEntry="CreateAcmaGroups"
                  Execute="deferred"
                  Return="check"
                  Impersonate ="yes"/>
  
  </Fragment>
</Wix>