<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeEndPoint_IAcmaWCF" sendTimeout="00:05:00">
         
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/acma" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeEndPoint_IAcmaWCF" contract="IAcmaWCF"
          name="NetNamedPipeEndPoint_IAcmaWCF" />
    </client>
  </system.serviceModel>
</configuration>