<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="acmadb" connectionString="Data Source=idm-d1ss1-v02.fim-dev1.local;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acma.xml" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" maxReceivedMessageSize="2048000"
          portSharingEnabled="false">
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Lithnet.Acma.Service.AcmaWCF"
        name="Lithnet.Acma.Service.AcmaWCF">
        <endpoint address="net.tcp://localhost:47343" binding="netTcpBinding"
          bindingConfiguration="netTcpBindingConfiguration" name="netTcpBinding_IAcmaObjectWebService"
          contract="Lithnet.Acma.Service.IAcmaWCF" />
        <endpoint name="netTcpMEX"
                  address="netTcpMex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Lithnet.Acma.Service.AcmaWCF">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>