<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--To override the default connection string, uncomment this section-->
  <!--<connectionStrings>
    <add name="acmadb" connectionString="Data Source=localhost;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>-->

  <appSettings>
    <add key="configfile" value="config.acmax"/>

    <!--Optional settings-->
    <!-- 
    <add key="logFile" value="D:\MAData\Acma\Logs\acma-service.log"/>
    <add key="logLevel" value="Debug"/> 
    <add key="autoconfigreload" value="false"/>
    
    logFile             Specifies the path to the log file. The service account must have access to write to this path
    logLevel            Specifies the logging level. Valid values are None, Error, Warning, Info, DetailedInfo, Debug
    autoConfigReload    Specifies whether to automatically reload the rules file when it changes. Default is true.
    -->
  </appSettings>

  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
