<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="acmadb" connectionString="Data Source=idm-d1ss1-v02.fim-dev1.local;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acma.xml" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" maxReceivedMessageSize="2048000"
          portSharingEnabled="true">
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Lithnet.Acma.WS.AcmaObjectWebService" name="Lithnet.Acma.WS.AcmaObjectWebService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="basicBindingConfig" contract="Lithnet.Acma.WS.IAcmaObjectWebService" />
      </service>
      <!--<service behaviorConfiguration="Lithnet.Acma.WS.AcmaObjectWebService"
        name="Lithnet.Acma.WS.AcmaObjectWebService">
        <endpoint address="net.tcp://localhost:47343" binding="netTcpBinding"
          bindingConfiguration="netTcpBindingConfiguration" name="netTcpBinding_IAcmaObjectWebService"
          contract="Lithnet.Acma.WS.IAcmaObjectWebService" />
      </service>-->
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Lithnet.Acma.WS.AcmaObjectWebService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>