<?xml version="1.0"?>
<!--
Change Log

Version 1.3 14/09/2015 RN Added log path
Version 1.2 05/06/2015 RN updated AuthZ information
Version 1.1 03/06/2015 JR
Version 1.0 03/06/2015 JR
        - Initial version
-->
<configuration>
  <connectionStrings>
    <add name="acmadb" connectionString="Data Source=localhost;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acmax" />
    <add key="logfile" value="D:\MAData\Acma\logs\acmaws\acmaws.log" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IAcmaObjectWebService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Lithnet.Acma.WS.AcmaObjectWebService" name="Lithnet.Acma.WS.AcmaObjectWebService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IAcmaObjectWebService" name="basicHttpBinding_IAcmaObjectWebService" contract="Lithnet.Acma.WS.IAcmaObjectWebService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Lithnet.Acma.WS.AcmaObjectWebService">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="idm-us-fim-mm" />
        <add accessType="Allow" users="idm-us-fim-aws" />
      </authorization>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.MetadirectoryServicesEx" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="3.3.0.0-4.1.3.0" newVersion="4.1.4.0" />
        <codeBase href="FILE://C:/Program Files/Microsoft Forefront Identity Manager/2010/Synchronization Service/bin/assemblies/Microsoft.MetadirectoryServicesEx.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>