<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--To override the default connection string, uncomment this section-->
  <!--<connectionStrings>
    <add name="acmadb" connectionString="Data Source=localhost;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>-->

  <appSettings>
    <!--Optional settings-->
    <!--
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acmax"/>
    <add key="logFile" value="D:\MAData\Acma\Logs\acma-service.log"/>
    <add key="autoconfigreload" value="false"/>
    -->
  </appSettings>

  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>