<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acmax" xdt:Transform="Insert"/>
    <add key="logFile" value="D:\MAData\Acma\Logs\acmawcf.log"  xdt:Transform="Insert"/>
  </appSettings>

<system.serviceModel xdt:Transform="Insert">
    <diagnostics performanceCounters="Off"/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="acmawcfBehavior" name="Lithnet.Acma.Service.AcmaService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint behaviorConfiguration="json" binding="webHttpBinding"
          bindingConfiguration="basicAuthBinding" name="jsonEP" contract="Lithnet.Acma.ServiceModel.IAcmaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44668/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="acmawcfBehavior">
          <serviceMetadata httpsGetEnabled="false" httpGetEnabled="true"  httpGetUrl="http://localhost:44668/mex"  />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <mexHttpBinding>
      </mexHttpBinding>
      <webHttpBinding>
        <binding name="basicAuthBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>