<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="acmadb" connectionString="Data Source=idm-d1ss1-v02.fim-dev1.local;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acmax"/>
    <!--<add key="logFile" value="D:\MAData\Acma\Logs\acmawcf.log"/>-->
  </appSettings>

  <system.serviceModel>
    <diagnostics performanceCounters="Off"/>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="acmawcfBehavior" name="Lithnet.Acma.Service.AcmaService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint behaviorConfiguration="json" binding="webHttpBinding"
          bindingConfiguration="basicAuthBinding" name="jsonEP" contract="Lithnet.Acma.ServiceModel.IAcmaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44668/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="acmawcfBehavior">
          <serviceMetadata httpsGetEnabled="false" httpGetEnabled="true"  httpGetUrl="http://localhost:44668/mex"  />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <mexHttpBinding>
      </mexHttpBinding>
      <webHttpBinding>
        <binding name="basicAuthBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>