<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="acmadb" connectionString="Data Source=idm-d1ss1-v02.fim-dev1.local;Initial Catalog=Lithnet.Acma;Integrated Security=SSPI;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="configfile" value="D:\MAData\Acma\acma-prod.acmax"/>
    <add key="logFile" value="D:\MAData\Acma\Logs\acmawcf.log"/>
  </appSettings>

  <system.serviceModel>
    <diagnostics performanceCounters="Off"/>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="Lithnet.Acma.Service.AcmaWCF" behaviorConfiguration="restAPIBehaviour">
        <endpoint address="net.pipe://localhost/acma"  
                  contract="Lithnet.Acma.Service.IAcmaWCF"
                  binding              = "netNamedPipeBinding"
                  bindingConfiguration = "NetNamedPipeBinding_IAcmaWCF"
                  name                 = "NetNamedPipeEndPoint_IAcmaWCF"/>
        <endpoint address="http://localhost:44668/" 
                  behaviorConfiguration="json" 
                  binding="webHttpBinding" 
                  bindingConfiguration="basicAuthBinding" 
                  name="jsonEP" 
                  contract="Lithnet.Acma.Service.IAcmaWCF"/>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="restAPIBehaviour">
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="basicAuthBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IAcmaWCF"/>
      </netNamedPipeBinding>

    </bindings>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" maxReceivedMessageSize="2048000"
          portSharingEnabled="false">
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Lithnet.Acma.Service.AcmaWCF"
        name="Lithnet.Acma.Service.AcmaWCF">
        <endpoint address="net.tcp://localhost:47343" binding="netTcpBinding"
          bindingConfiguration="netTcpBindingConfiguration" name="netTcpBinding_IAcmaObjectWebService"
          contract="Lithnet.Acma.Service.IAcmaWCF" />
        <endpoint name="netTcpMEX"
                  address="netTcpMex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Lithnet.Acma.Service.AcmaWCF">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
